.nav-item {
    width: 100px;
    text-align: center;
    margin-left: 5px;
}

.nav-tabs {
    background-color: rgb(253 165 39);
    padding: 8px;
    padding-bottom: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 100%;
}

.nav-link, .nav-link:hover {
    text-decoration: none;
    color: white;
}

.menu {
    position: relative;
    margin-top: -30px;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 95%;
}
/* บาง class style หาย */
/* .menu-bar {
    position: absolute;
    background-color: rgb(253 165 39);
    color: white;
    top: 13%;
    left: 2%;
    height: 60px;
    width: 1800px;
}
.menu-nav {
    position: absolute;
    top:20px;
    text-decoration: none;
    color: white;
    padding: 10px;
    padding-inline: 25px;
}
.menu-nav:hover {
    text-decoration: none;
    color: rgb(241 72 34);
}
.menu-nav:after {
    background-color: aliceblue;
}
.card-group {
    display: flex;
    position: absolute;
    top:200px;
    left:460px;
    width: 1000px;
}
.card {
    text-align: center;
    align-items: center;
    margin: 30px
}
#cardd {
    border-radius: 30px;
}
.card-img-top {
    width:250px;
}
.card-text {
    font-size: 18px;
    color:grey;
}
.btn {
    width: 200px;
    border-radius: 30px;
    background-color: rgb(241 72 34);
}
.btn:active {
    transform: translateY(2px);
}
.amount span{
    font-size: 30px;
    text-align: center;
    margin: 22px;
}
.amount span.plus,span.minus {
    display: inline-block;
    background-color:rgb(253 165 39);
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}
.amount span.num {
    pointer-events: none;
    font-size: 25px;
} */
